<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button ion-button item-start (click)="goBack()">
            <i class="fa fa-chevron-left" aria-hidden="true">Back</i>
          </button>
        </ion-col>
        <ion-col col-6>
          <ion-title text-center>
            {{ todoList.name }}
          </ion-title>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-only float-right (click)="manageUser()">
            <ion-icon name="people"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <upload-images #upImg [todoList]="getTodoList()">
    <button (click)="upImg.takePhoto()" ion-button>
      <i class="fa far fa-image"></i>
    </button>
    <ion-list>
      <ion-item *ngFor="let image of getTodoList().images">
        <button ion-button float-right (click)="upImg.removePhoto(image)">
          <ion-icon  name="md-close-circle"></ion-icon>
        </button>
        <ion-thumbnail>
          <img [src]="image.urlLocation">
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </upload-images>
  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
    <ion-item-sliding *ngFor="let item of getItems();">
      <ion-item>
        <ion-label *ngIf="item.complete==false">
          {{ item.name }}
          <p>{{ item.desc }}
          </p>
          <ion-grid *ngIf="item.dateExpire">
            <ion-row>
              <ion-label *ngIf="item.complete">
                {{ item.name }}
                <p>{{ item.desc }}</p>
              </ion-label>
            </ion-row>
            <ion-row>
              <ion-col col-8>
                <meter min="0" low="70" optimum="50" high="80" max="100" value="{{getTimeUsed(item)}}">
                  </meter>
              </ion-col>
              <ion-col col-4>
                {{getTimeUsed(item)}}%
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
        <ion-checkbox [(ngModel)]="item.complete" (ionChange)="onToggleCompletedItem(item)">
        </ion-checkbox>
        <button (click)="editItem(item)" ion-button clear item-end>
          <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
        </button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button expandable (click)="deleteItem(item)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item class="postit-color">
    <ion-textarea (change)="setNote($event.target.value)" value="{{getTodoList().note}}" placeholder="Enter a description"></ion-textarea>
  </ion-item>
  <ion-fab bottom right>
    <button ion-fab (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>