.todo--completed {
  background: #e6ffe6;
}

.custom-icon {
  font-size: 55px;
  opacity: 0.5;
}

.color-blue {
  color: #2ab9e7;
}

.color-red {
  color: #cc2222;
}

.color-yellow {
  color: #ffe4c4;
}

.color-green {
  color: #72a9ad;
}

.color-grey {
  color: #F0F0F0;
}

.blue {
  background-color: #2ab9e7;
}

.red {
  background-color: #cc2222;
}

.yellow {
  background-color: #ffe4c4;
}

.green {
  background-color: #72a9ad;
}

.grey {
  background-color: #F0F0F0;
}

.white {
  background-color: white;
}

.form {
  border-radius: 10px;
  margin: 3px;
}