<ion-content>
  <ion-list reorder="true" (ionItemReorder)="reorderTodosList($event)">
    <ion-item-sliding *ngFor="let todo of getTodosList()">
      <ion-item class="form" (click)="displayItemsMonitoring(todo)" [ngClass]="
        { 'green': todoIsCompleted(todo),
          'yellow': !todoIsCompleted(todo) && getColor(todo) === 'yellow',
          'red': !todoIsCompleted(todo) && getColor(todo) === 'red',
          'blue': !todoIsCompleted(todo) && getColor(todo) === 'blue',
          'grey': !todoIsCompleted(todo) && getColor(todo) === 'grey'
        }
      ">
        <h2> {{ todo.name }} </h2>
        <p>( {{ countItemsChecked(todo) }}/{{todo.items.length }} items)</p>
      </ion-item>
      <ion-item-options *ngIf="!todoIsCompleted(todo)" side="left">
        <button ion-button expandable (click)="setColor(todo, 'grey')" class="white">
          <ion-icon class="custom-icon color-grey" name="ios-egg"></ion-icon>
        </button>
        <button ion-button expandable (click)="setColor(todo, 'red')" class="white">
          <ion-icon class="custom-icon color-red" name="ios-egg"></ion-icon>
        </button>
        <button ion-button expandable (click)="setColor(todo, 'yellow')" class="white">
          <ion-icon class="custom-icon color-yellow" name="ios-egg"></ion-icon>
        </button>
        <button ion-button expandable (click)="setColor(todo, 'blue')" class="white">
          <ion-icon class="custom-icon color-blue" name="ios-egg"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button expandable (click)="displayShareManager(todo)">
          Share
        </button>
        <button ion-button expandable (click)="deleteTodoList(todo)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-fab bottom right>
    <button ion-fab (click)="addTodo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>