.todo--completed {
  background: #e6ffe6;
}

.custom-icon {
  font-size: 55px;
  opacity: 0.5;
}

.color-blue {
  color: #bae1ff;
}

.color-red {
  color: #ffb3ba;
}

.color-yellow {
  color: #ffdfba;
}

.color-green {
  color: #72a9ad;
}

.color-grey {
  color: #F0F0F0;
}

.blue {
  background-color: #bae1ff;
}

.red {
  background-color: #ffb3ba;
}

.yellow {
  background-color: #ffdfba;
}

.green {
  background-color: #72a9ad;
}

.grey {
  background-color: #F0F0F0;
}

.white {
  background-color: white;
}

.postit {
  resize: none;
  background-color: #fff0c1;
  border-radius: 15px;
  margin: 10px;
  width: 70%;
}

.form {
  border-radius: 10px;
  margin: 3px;
}